---
import PawnWhite from '../assets/icons/pieces/pawn-white.svg';
import PawnBlack from '../assets/icons/pieces/pawn-black.svg';
import KnightWhite from '../assets/icons/pieces/knight-white.svg';
import KnightBlack from '../assets/icons/pieces/knight-black.svg';
import BishopWhite from '../assets/icons/pieces/bishop-white.svg';
import BishopBlack from '../assets/icons/pieces/bishop-black.svg';
import RookWhite from '../assets/icons/pieces/rook-white.svg';
import RookBlack from '../assets/icons/pieces/rook-black.svg';
import QueenWhite from '../assets/icons/pieces/queen-white.svg';
import QueenBlack from '../assets/icons/pieces/queen-black.svg';
import KingBlack from '../assets/icons/pieces/king-black.svg';
---

<!-- Floating chess pieces background -->
<!-- Show only if reduce motion is NOT enabled -->
<div class="chess-pieces-bg" style="display: none;">
    <div
        class="chess-piece"
        style="--delay: 0s; --start-x: -10vw; --end-x: 60vw; --peak-y: 15vh;"
    >
        <PawnWhite />
    </div>
    <div
        class="chess-piece"
        style="--delay: 1s; --start-x: 110vw; --end-x: 50vw; --peak-y: 20vh;"
    >
        <KnightBlack />
    </div>
    <div
        class="chess-piece"
        style="--delay: 5.5s; --start-x: -5vw; --end-x: 65vw; --peak-y: 25vh;"
    >
        <BishopWhite />
    </div>
    <div
        class="chess-piece"
        style="--delay: 6.5s; --start-x: 105vw; --end-x: 30vw; --peak-y: 30vh;"
    >
        <RookBlack />
    </div>
    <div
        class="chess-piece"
        style="--delay: 8s; --start-x: -15vw; --end-x: 65vw; --peak-y: 18vh;"
    >
        <QueenWhite />
    </div>
    <div
        class="chess-piece"
        style="--delay: 9.5s; --start-x: 115vw; --end-x: 30vw; --peak-y: 35vh;"
    >
        <KingBlack />
    </div>
    <div
        class="chess-piece"
        style="--delay: 10s; --start-x: -8vw; --end-x: 80vw; --peak-y: 22vh;"
    >
        <PawnBlack />
    </div>
    <div
        class="chess-piece"
        style="--delay: 11.5s; --start-x: 108vw; --end-x: 55vw; --peak-y: 37vh;"
    >
        <KnightWhite />
    </div>
    <div
        class="chess-piece"
        style="--delay: 12.5s; --start-x: -12vw; --end-x: 60vw; --peak-y: 32vh;"
    >
        <BishopBlack />
    </div>
    <div
        class="chess-piece"
        style="--delay: 13.5s; --start-x: 112vw; --end-x: 65vw; --peak-y: 38vh;"
    >
        <RookWhite />
    </div>
</div>

<style>
    .chess-pieces-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1;
    }

    .chess-piece {
        position: absolute;
        width: 40px;
        height: 40px;
        opacity: 0;
        left: var(--start-x);
        bottom: -40px;
        animation: simple-arc 9s infinite;
        animation-delay: var(--delay);
    }

    .chess-piece svg {
        width: 100%;
        height: 100%;
    }

    @keyframes simple-arc {
        0% {
            transform: translateX(0) translateY(0) rotate(0deg);
            opacity: 0;
        }
        20% {
            opacity: 1;
        }
        50% {
            transform: translateX(calc((var(--end-x) - var(--start-x)) / 2)) 
                       translateY(calc(-1 * var(--peak-y) - 50vh)) 
                       rotate(360deg);
            animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
        }
        80% {
            opacity: 1;
        }
        100% {
            transform: translateX(calc(var(--end-x) - var(--start-x))) 
                       translateY(0) 
                       rotate(720deg);
            opacity: 0;
        }
    }
</style>

<script>
  window.addEventListener('DOMContentLoaded', () => {
	const confetti = document.querySelector('.chess-pieces-bg') as HTMLElement | null;
	if (confetti) {
	  if (!window.matchMedia('(prefers-reduced-motion: reduce)').matches) {
		confetti.style.display = ''; // Show only if reduce motion is NOT enabled
	  }
	}
  });
</script>